@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.footer{
  position: absolute;
  padding-top: 40px;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: whitesmoke;
  text-align: center;
  color: black;
}
.myPosi{
  font-size: 12px;
}

*{
  font-family: 'Poppins', sans-serif;
  font-size: large;
}
.myCard{
  width: 300px;
}
.myCard img{
  width: 100%;
}
.myBtn{
  margin-left: 25px;
}